.body-container{
    position: absolute;
    height : 100%;
    width : 100%;
}

.test-class{
    background-color : red;
    border-radius: 50%;
}

.tree-container{

    position: relative;
    border: 1px solid black;
    height: 100vh;
    width: 25%;
    float: left;
}
.script-container{
    border: 1px solid black;
    float: right;
    width: 75%;
    position: relative;
    height: 60%;
}
.console-container{
    border: 1px solid black;
    float: right;
    width: 75%;
    position: relative;
    height: 40%;
}

#extTab2{
    width:100% !important;

}

#extTab3{
    width:100% !important;

}
.script-text{
    width : 100%;
    height : 100%;
    font-family : "Courier New", Courier, monospace;
}